# Project files
.Rproj.user
/.quarto/

# Directories to ignore
/css/
/data/
/documents/
/figures/
/lectures/
/ms_templates/
/about_cache/
/test_overviews/
/admin/
/archive/
/docs/
/ecostats_assignments/
/ecostats_homework/
/ecostats_lectures/
/ecostats_stat_overview/
/images/

# File types to ignore
*.qmd
*.txt
*.png

# Exceptions - files and directories to include
!/docs/
!/docs/**/*.html
!/docs/lecture_*/